* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}

.navbar-scroll {
  background-color: rgba(21, 32, 36, 0.8392156863);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0px 0px 18px 5px rgba(173, 173, 173, 0.659);
  height: 120px;
}

.navbar-scroll-white-mode {
  background-color: rgba(38, 59, 67, 0.8392156863);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.871);
  height: 120px;
}

.navbar {
  padding: 20px 80px;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navbar ol {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.navbar ol li .link1 {
  background-image: linear-gradient(to right, #d48b50, #d48b50 50%, #000 50%);
  background-size: 200% 100%;
  background-position: 0;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.navbar ol li .link1:before {
  content: "";
  background: #d48b50;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar ol li .link {
  background-image: linear-gradient(to right, #d48b50, #d48b50 50%, white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.navbar ol li .link:before {
  content: "";
  background: #d48b50;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar ol li .link:hover {
  background-position: 0;
}
.navbar ol li .link:hover::before {
  width: 100%;
}
.navbar ol li .link:focus {
  background-position: 0;
}
.navbar ol li .link:focus::before {
  width: 100%;
}
.navbar ol img {
  width: 100px;
}
.navbar ol .btn-hover {
  width: 150px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 44px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #ca8145, #e69350, #e6be50, #e5dd4b, #e18f4c, #ffa75f, #ffa75f);
  box-shadow: 0 3px 7px 2px #d48b50;
}
.navbar ol .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar ol .btn-hover:focus {
  outline: none;
}
.loader {
  height: 100vh;
  width: 100%;
  background: url("../images/BgLoader.jpg"), url("../images/BgLoader2.jpg"), url("../images/BgLoader3.jpg"), url("../images/BgLoader4.jpg") black;
  background-size: 30%, 30%, 30%, 30%, 100%;
  background-position: 10% bottom, 10% top, 90% bottom, 90% top;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 40%;
  width: 20%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: rgba(192, 192, 192, 0.5176470588);
  box-shadow: 0 0 20px 15px rgba(150, 150, 150, 0.7607843137);
  border-radius: 50%;
}/*# sourceMappingURL=App.css.map */